[Unit]
Description=Photosync service
After=network.target

[Service]
ExecStart=/home/mantas/Repos/photosync/bin/photosync-env photosync-watch
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
